*~
*.swp
*.vdb
CMakeLists.txt.user
.opencode/
build/
build_err.txt
build_log.txt
gen_random_test.py
veles_complex_8gb.bin

# Visual Studio files
.vs
CMakeSettings.json
*.vsp
*.vspx
*.psess
.vscode/
.claude/